.nav{
  grid-area: n;
  background-color: rgb(39, 236, 236);
  padding: 20px;
}  
.item a{
  color:white;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
}
.item a.activelink{
  color: blue;
} 