.nav{
  grid-area: n;
  background-color: rgb(248, 166, 241);
  padding: 20px;
}  
.item a{
  color: white;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
}
.item a.activelink{
  color: blue;
} 