.app-wrapper{
  margin: 0 auto;
  display:grid;
  width: 1200px;
  grid-template-areas: 
  "h h"
  "n c";
  /* TODO: learn how to work Grid */
  /* TODO: learn how to make adaptive with(not hardcoded 1200) */
  
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /*grid-gap:10px;*/
}
.app-wrapper-content{
   grid-area: c;
    background-color: rgb(239, 249, 252);
    
  
}




