.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;

}
.dialog{

}
.dialogsItem{
    padding: 10px;
}
.dialogsItem .active{
    color:gold;
} 
.dialog{
    color:black;
}
.messages{
    padding: 10px;

}
.messages.message{
    color:black;

}